<footer class="main-footer d-flex justify-content-between pb-0">
    <div>
        <strong>Copyright &copy; @DateTime.Now.Year <a asp-action="Index" asp-controller="Dashboard">Library Management System</a>.</strong>
        <b>Version</b> 1.0.0
    </div>
    <p>Developed by: <a class="text-capitalize" href="https://github.com/khpolash" target="_blank"> Kamrul Hasan </a></p>
</footer>